<%= error_messages_for 'comment' %>

<!--[form:comment]-->

<div class="formfield">
	<label for="forumtopic_title">Titel</label>
	<div class="caption">
		De titel van uw onderwerp
	</div>
	<%= text_field 'comment', 'title', :value => @forumtopic.title  %>
</div>

<div class="formfield">
	<label for="forumtopic_text">Tekst</label>
	<div class="caption">
		Schrijf hieronder uw boodschap
	</div>
	<%= text_area 'comment', 'body', :value => @forumtopic.body, :size => '60x10'  %>
</div>

<!--[eoform:comment]-->

<p>Uw inbreng wordt geweldig geapprecieerd!</p>