<!--[form:reaction]-->

<div class="formfield">
  <label for="reaction_title">Titel</label>
  <div class="caption">
    De titel van uw reactie
  </div>
  <%= reactionform.text_field :title %>
</div>

<div class="formfield">
  <label for="reaction_body">Reactie</label>
  <div class="caption">
    Geef hier uw reactie op de bovenstaande definitie.<br/>
  </div>
  <%= reactionform.text_area :body, :size => '60x10'  %>
</div>

<!--[eoform:reaction]-->

<p>Uw inbreng wordt geweldig geapprecieerd!</p>
