<p>
	<%= link_to 'Wees welgekomen', :controller => 'definities', :action => 'index' %>
	| <%= link_to 'Willekeurig', :controller => 'definities', :action => 'random' %>
	| <%= link_to 'Top woorden', :controller => 'definities', :action => 'top' %>
	| <%= link_to 'Recent', :controller => 'definities', :action => 'recent' %>
	<% if logged_in? %>
	| <%= link_to 'Voeg een term toe', :controller => 'definities', :action => 'nieuw' %>
	<% end %>
</p>