<p>Dit is een willekeurige selectie woorden van wat het Vlaams woordenboek zoal te bieden heeft. Herlaad voor <%= link_to 'meer', random_definitions_path %>.</p>

<% @random_definitions.each do |definition| %>
  <%= render partial: 'definition', object: definition %>
<% end %>
