<p>
	<%= link_to 'Postvak in', :controller => 'post', :action => 'in' %>
	| <%= link_to 'Postvak uit', :controller => 'post', :action => 'uit' %>
	| <%= link_to 'Nieuw bericht', :controller => 'post', :action => 'nieuw' %>
</p>