<p>Het online Vlaams woordenboek wordt verzorgd door <a href="http://anthony.liekens.net">Anthony Liekens</a>.</p>

<p>Ge kunt het Vlaams woordenboek contacteren door een e-mail te sturen naar
<a href="mailto:anthony@liekens.net">anthony@liekens.net</a>, of via de post:</p>

<p>
	Het Vlaams woordenboek<br/>
	p/a dr. Anthony Liekens<br/>
	Manebruggestraat 366<br/>
	2150 Borsbeek
</p>