<p>De volgende <a href="http://nl.wikipedia.org/wiki/Webfeed">RSS webfeeds</a> van het Vlaams woordenboek zijn momenteel beschikbaar:</p>

<ul>
<li><a href="/woordvandedag.xml">Vlaams woord van de dag <img src="/images/rss.png" alt="RSS"/></a></li>
<li><a href="/recent.xml">Recente toevoegingen <img src="/images/rss.png" alt="RSS"/></a></li>
</ul>
