<p>Het online Vlaams woordenboek wil op de eerste plaats een verzameling bouwen van "Algemeen Beschaafd Vlaamse" woorden, woorden die
door zo goed als elke Vlaming worden begrepen. Het Vlaams is echter sterk versnipperd in een grote variëteit aan dialecten.
Dialecttermen nemen een belangrijke taak op in het dagelijks gesproken Vlaams, en krijgen daarom ook hun plaats in het online Vlaams
woordenboek. Als ge als gebruiker een Vlaamse term in onze databank steekt, kunt ge bij uw beschrijving aangeven uit welke streek
de dialectterm afkomstig is.</p>

<p>De onderstaande kaarten geven de regio's weer die in het Vlaams woordenboek worden onderscheiden</p>

<center><img src="/images/vlaamse_provincies_en_regios.png"/></center>

<p>Er zijn 5 overheersende Vlaamse dialecten, wier streken van oorsprong sterk overeenkomen met de provinciegrenzen; West-Vlaams, Oost-Vlaams, Antwerps,
Brabants and Limburgs.</p>

<p>Daarnaast zijn er binnen elke provincie lokale regio's met hun eigen dialect. Twee naburige dorpen kunnen sterke verschillen in hun
dialect vertonen. Om het woordenboek echter niet te overladen met keuzemogelijkheden, beperken we de classificatie tot dialecten, zoals
gesproken in hun overeenkomstige toeristische regio's van Vlaanderen. De volgende regio's zijn opgenomen in het Vlaams woordenboek.</p>

<ul><li>Province West-Vlaanderen
<ul><li>Vlaamse kust
</li><li>Westhoek
</li><li>Brugge
</li><li>Brugse Ommeland
</li><li>Leiestreek
</li></ul></li><li>Provincie Oost-Vlaanderen
<ul><li>Meetjesland
</li><li>Gent
</li><li>Vlaamse Ardennen
</li><li>Scheldeland
</li><li>Waasland
</li></ul></li><li>Provincie Antwerpen
<ul><li>Antwerpen
</li><li>Mechelen
</li><li>Antwerpse Kempen
</li></ul></li><li>Provincie Vlaams-Brabant
<ul><li>Brussel
</li><li>Groene Gordel
</li><li>Leuven
</li><li>Hageland
</li></ul></li><li>Provincie Limburg
<ul><li>Limburgse Kempen
</li><li>Mijnstreek
</li><li>Haspengouw
</li><li>Maasland
</li><li>Voerstreek
</li></ul></li></ul>