<h2>Algemeen Beschaafd Vlaams</h2>

<p>Zelfs na 7 jaar als Vlaming te werken in een Nederlands team, ontdek ik samen met mijn collega's nog dagelijks woorden die in het
Vlaams en in het Nederlands anders zijn. Luister naar de radio of televisie in Vlaanderen, en er wordt <i>Vlaams</i>, <i>Belgisch
Nederlands</i>, <i>Vlaams Nederlands</i> of <i>Algemeen Beschaafd Vlaams</i> gesproken (<a href="/definities/term/noemen">noem</a>
het zoals u wilt, wij kiezen hier voor <i>Vlaams</i>, maar dat is zeker niet uit separatistische, Vlaams nationalistische of anti-<a
href="/definities/term/Belgicist">Belgicistische</a> overwegingen!).</p>

<p>De gemiddelde Nederlander heeft niks aan <a href="http://www.een.be/flikken/">Flikken</a> of <a
href="http://www.een.be/witse/">Witse</a> zonder ondertiteling, terwijl deze in Vlaanderen perfect kunnen worden <a
href="/definities/term/verstaan">verstaan</a>. Vlaams klinkt voor een Nederlander zacht en grappig, maar ook boertig en dom.
Nederlands klinkt voor een Belg hard en fleurig, maar ook elitair, burgerlijk of <a href="/definities/term/jeannet">jeannet</a>terig.
In vergelijking met het officiëlere Nederlands gebruiken we in Vlaanderen een woordenschat die op veel punten verschilt en anders
wordt uitgesproken, zinnen die anders worden opgebouwd en vervoegd, spreuken die verschillen, enzovoort. Dit gebeurt in zo'n grote
mate dat goed ingeburgerd Vlaams heel snel complete nonsens wordt voor andere Nederlandstaligen.</p>

<div class="block" style="color:#666;">

<h3>Voorbeeldje: Goesting</h3>

<p>Eind 2004 verkozen de Vlamingen <i><a href="/definities/term/goesting">goesting</a></i> tot het mooiste woord van de Nederlandse
taal. Meer dan 3000 luisteraars van <a href="http://www.radio1.be">Radio 1</a> gaven hun stem tijdens de finale stemronde. In een
gelijkaardige verkiezing in Nederland werd <i>liefde</i> gekozen als mooiste woord.</p>

<p>Opvallend is dat <i>goesting</i> Belgisch Nederlandse spreektaal is, en niet wordt aangezien als <i>standaardtaal</i>. Het woord is
volkomen ingeburgerd in Vlaanderen, maar de gemiddelde Nederlander heeft geen idee dat dit woord sowieso bestaat. <i>Goesting</i>
heeft <i>trek</i>, <i>zin</i> of <i>lust</i> als Nederlandse synoniemen. De oorprong van het woord is het Latijnse <i>gustus</i>
(smaak), en kwam via het Frans naar Vlaanderen. Ook komt het woord voor in tal van Vlaamse uitdrukkingen, zoals <i>ieder zijn
goesting</i> (ieder kiest wat hij het liefste wil), <i>zijn goesting gegeten hebben</i> (voldaan zijn), of <i>met zijn broek vol
goesting rondlopen</i> (zin in sex hebben).</p>

</div>


<h3>Vlaams &lt; Nederlands?</h3>

<p>Woordenboeken en taalregels die het <i>officiële</i> Nederlands vertegenwoordigen beschouwen het Vlaams nogal gemakkelijk als
minderwaardig ten opzichte van het Nederlands Nederlands (Nederlands zoals het gebruikt wordt in Nederland). In <a
href="http://taalschrift.org/discussie/001516.html">dit artikel</a> (taalschrift.org) stelt <a
href="http://www.nederlandsetaalkunde.ugent.be/Prof.%20Dr.%20Johan%20De%20Caluwe">prof. dr. Johan De Caluwe</a> van de universiteit
Gent dat Belgisch Nederlands en Nederlands Nederlands evenwaardige varianten van het Nederlands zijn, net zoals Brits Engels en
Amerikaans Engels varianten van het Engels zijn. In Nederlandse woordenboeken of de regels die opgesteld worden door <i>officiële</i>
Nederlandse instituten wordt het Nederlands Nederlands echter als het correcte Nederlandse taalgebruik onderschreven en vervallen
goed ingeburgerde Vlaamse gebruiken al snel buiten de boot. Dit elitair gedrag is discriminerend voor het Vlaams, en Nederlanders
krijgen op deze manier al snel het comfortabele gevoel dat hun Nederlands Nederlands correct en ons Belgisch Nederlands incorrect
taalgebruik is. </p>

<div class="block" style="color:#666;">

<h3>Voorbeeldje: Wat is uw nationaliteit?</h3>

<img src="/images/identiteitskaart.jpg" style="float:right;"/> <p>Vraag de gemiddelde Nederlander naar zijn nationaliteit, en hij
antwoordt steevast <i>Nederlandse</i> (de TaalUnie <a href="http://www.onzetaal.nl/advies/nationaliteit.php">adviseert</a> trouwens
<i>Nederlands</i>, TaalAdvies dan weer <a href="http://taaladvies.net/taal/advies/vraag/570/">niet</a>). Een Belg antwoordt op deze
vraag met <i>Belg</i>. Echter verwacht de Belg dat de Nederlander hierop <i>Nederlander</i> zou antwoorden, en vice versa denkt de
Nederlander dat het correcte antwoord voor de Belg <i>Belgisch(e)</i> moet zijn. Zo ook vult de Nederlandse loketbediende van mijn
Vlaamse <a href="/definities/term/mutualiteit">mutualiteit</a> <i>Belgische</i> in in het veld <i>nationaliteit</i> van mijn
formulieren. Zijn we dan in Vlaanderen allemaal verkeerd bezig met onze nationaliteit? Zelfs (Nederlandstalige) Belgische
identiteitskaarten geven aan dat onze nationaliteit <i>Belg</i> is. Een taalfout? Ik denk het niet! Het gebruik van Belg/Nederlander
is in zijn Belgische context even correct als Nederlandse/Belgische in een Nederlandse context.</p>

</div>

<p>Ook geeft prof. De Caluwe aan dat Nederlands Nederlandse woorden moeten worden geannoteerd in woordenboeken, net zoals Belgisch
Nederlandse woorden worden geannoteerd. Op deze manier wordt het voor de gebruiker van een woordenboek duidelijk of een Nederlands
woord een specifieke betekenis heeft die enkel in Nederland zo wordt gebruikt. Ik kan dit standpunt alleen maar toejuichen!</p>

<div class="block" style="color:#666;">

<h3>Voorbeeldje uit de <a href="http://www.vandale.be">Van Dale</a></h3>

<p>Het volgende woord vind ik het schoolvoorbeeld van hoe verschillend de Vlaamse en Nederlandse betekenis van een woord wel niet kan
zijn (mijn excuses voor de woordkeuze, het is niet echt een <i>school</i>voorbeeld).</p>

<p style="margin-left:20px;"><i>
poe·pen (onov.ww.)<br/>
1 [inf.] lichamelijke afvalstoffen uitscheiden via de anus [...]<br/>
2 [Belg., grof] neuken, vrijen
</i></p>

<p>In de Van Dale staat bij de Belgische betekenis van <i><a
href="http://vandale.be/opzoeken/woordenboek/?zoekwoord=poepen">poepen</a></i> (grof voor neuken, vrijen) de annotatie <i>[Belg.]</i>,
maar bij de Nederlandse betekenis (afvalstoffen uitscheiden) wordt niet vermeld dat deze betekenis voornamelijk in Nederland wordt
gebruikt, en ongebruikelijk is voor Vlaanderen. Er zijn wel honderden van dit soort vermeldingen in de Van Dale die op deze manier
kunnen worden aangemerkt. De licht gewijzigde versie is al een pak beter:</p>

<p style="margin-left:20px;"><i>
poe·pen (onov.ww.)<br/>
1 [<b>Ned.</b>, inf.] lichamelijke afvalstoffen uitscheiden via de anus [...]<br/>
2 [Belg., grof] neuken, vrijen
</i></p>

<p>De context rond <i>poepen</i> krijgt een heel andere draai bij een Vlaams of Nederlands publiek. Om te laten zien hoe fout dit kan
aflopen, citeer ik het volgende gedichtje uit mijn zoontje's <a href="http://www.vandale.nl/producten/1001004002496337">Mijn eerste
Van Dale</a> (volgens de omschrijving een boek voor 2-3 jarigen), bij het woord <i>poepen</i> (met tekening van lief klein meisje op
de wc):</p>

<p style="margin-left:20px;"><i>
Winnie zit op de wc.<br/>
Haar billetjes zijn bloot.<br/>
En weet je wat ze roept?<br/>
Mama, ik heb gepoept!
</i></p>

<p>Wat heeft Winnie gedaan? Gepoept??? U kan zich waarschijnlijk al inbeelden hoe de gemiddelde Vlaming (met
pedofilie-massahysterie-syndroom) bij het lezen van dit gedichtje uit zijn stoel valt!</p>

<p>Update: De redacteurs van de Van Dale hebben bevestigd dat de volgende
versie van hun woordenboeken deze wijziging zullen doorvoeren, zoals
aangegeven in het <a
href="http://www.deredactie.be/cm/vrtnieuws/cultuur%2Ben%2Bmedia/kunsten/091105VanDaleNederlands">VRT
nieuws van 6 november 2009</a>.</p>

</div>

<p>Zo ook zouden verschillen in uitspraak (voor bijvoorbeeld tram, caravan, camping, therapeut, ...) kunnen worden geannoteerd in deze
woordenboeken. Er zijn heel wat van die termen waar Nederlanders hun uitspraken voor baseren op Engelse versie van deze woorden
(bvb [ˈkærəˌvæn] voor caravan), waar Vlamingen hun uitspraak op het Frans baseren (bvb [ˈkaraˌvan] voor caravan).</p>

<h3>Het Vlaams woordenboek</h3>

<p>Op deze website willen we de pareltjes van onze Vlaamse variant van het Nederlands eens goed in de verf zetten. Het Vlaams heeft
vele mooie, charmante en <a href="/definities/term/plezant">plezante</a> woorden en uitdrukkingen die dikwijls te beperkt worden
gerepresenteerd door de officiële Nederlandse woordenboeken en taalregeltjes.</p>

<p>Geïnspireerd door de ideeën van de Engelstalige <a href="http://www.urbandictionary.com">Urban Dictionary</a> stelt het online
Vlaams woordenboek elke Vlaming (en andere Nederlandstaligen) in staat om deel te nemen aan het schrijven en bouwen van een
woordenlijst van typisch Vlaamse woorden en uitspraken, als aanvullingen en correcties op het <i>officiële</i> (Nederlands-)
Nederlands. Taal is geen gegeven dat bepaald wordt door een stel elitaire professoren, maar is het resultaat van een langdurig
democratisch proces dat zich in het volk zelf af speelt. Sommige hooggeleerden mogen dan wel vinden dat typisch Vlaamse taalkenmerken
(gebruik van <i>ge</i> of <i>gij</i>, verbogen werkwoorden en dubbelklanken die het Vlaams voor een buitenstaander moeilijker te
begrijpen maken) uit ons taalgebruik moeten worden verbannen, als ze het volk niet achter deze opinie geschaard krijgen zal er niet
snel iets veranderen. Taal is een complex dynamisch proces dat zich niet snel zal laten leiden door van bovenaf opgelegde regels!
Naar wat ik hoor van mijn buitenlandse collega's (die Nederlands studeren) vinden zij het Belgisch Nederlands in elk geval een pak
gemakkelijker te verstaan dan het Nederlands Nederlands. Met het Vlaams woordenboek proberen we dit democratisch, volks proces in een
website te gieten, zodat iedereen in staat is om zijn eigen taal mee te definiëren!</p>

<p>Het Vlaams woordenboek bevat reeds honderden definities van Vlaamse termen. Op onze <a href="/">thuispagina</a> kan u de index
bekijken, willekeurige Vlaamse woorden uit ons woordenboek opvragen, en recente toevoegingen aan het Vlaams woordenboek opvolgen. We
roepen dagelijks ook een Vlaams woord uit tot <a href="/definities/woordvandedag">Vlaams woord van de dag</a>. Elke bezoeker van het
Vlaams woordenboek kan ook bijdragen door mee te stemmen welke definities hij goed of slecht vindt. Meer nog, als u uzelf <a
href="/account/signup">registreert</a> als gebruiker van deze website, kan u nieuwe (of verbeterde) definities van allerhande
Vlaamse woorden toevoegen aan onze databank, en reageren op de definities van andere gebruikers.</p>

<p>Er valt al heel wat te bekijken op deze nieuwe website, ik wens u in alle geval veel Vlaams taalplezier!</p>
<p><a href="http://anthony.liekens.net">Anthony Liekens</a>,-</p>
