<h2>14 januari 2008: Social networking, en we staan in de Libelle</h2>

<p>Er zijn de afgelopen dagen een aantal updates gebeurd aan het Vlaams woordenboek. Vooral de gebruikers worden nu beter gehuisvest
en krijgen een aantal nieuwe "social networking" tools in de handen geduwd. Zo kunt ge nu als ingelogd gebruiker iets over uzelf
vertellen op uw eigen profielpagina, en is er nu een intern postsysteem zodat contact tussen geregistreerde
gebruikers van het Vlaams woordenboek mogelijk wordt.</p>

<p>De (Belgische) <a href="http://www.libelle.be">Libelle</a> heeft deze week (10 januari 2008) een <a
href="/images/libelle10jan08.png">kort stukje</a> op zijn vierde pagina gezet, met niks dan goeie woorden voor het Vlaams woordenboek.
De Libelle is wel heel wat anders dan ik gewoon ben, maar ik ben dolblij dat ik nu eens iets kan doen voor andere mensen dan enkel en
alleen techneuten!</p>

<h2>15 november 2007: Het Vlaams woordenboek wordt een wiki</h2>

<p>Het Vlaams woordenboek heeft zonet een belangrijke facelift gekregen. Veel gebruikers hebben de wens uitgesproken om andermans
definities te kunnen bewerken. Alle definities kunnen nu worden aangepast door ingelogde gebruikers, en er wordt een
bewerkingsgeschiedenis bijgehouden zodat de bijdragen van verschillende gebruikers van een woord kunnen worden opgevolgd. In feite is
het Vlaams woordenboek dus nu een soort van wiki geworden, die meer samenwerking van alle gebruikers mogelijk maakt. Ook kunnen nu
spellings- en grammaticafouten veel vlotter worden verbeterd, wat alleen maar kan leiden tot een meer kwaliteitsvol Vlaams
woordenboek.</p>

<p>Als gevolg van deze aanpassing zijn er ook een aantal andere elementen veranderd. Zo is nu de definitie van een term niet meer in
het bezit van 1 gebruiker, omdat meerdere gebruikers bijdragen kunnen leveren aan een en hetzelfde woord. Termen en hun definities
kunnen ook niet meer door hun respectieve eigenaars worden verwijderd. In een gebruikerspagina worden nu ook de woorden weergegeven
waaraan de gebruiker heeft meegewerkt. De pagina's die voorheen recente toevoegingen toonden, geven nu recente wijzigingen aan.</p>

<h2>14 november 2007: Het Vlaams woordenboek staat in het Laatste Nieuws</h2>

<p>In <a href="http://www.hln.be">Het Laatste Nieuws</a> is er een <a href="/images/hln14nov07.png">kort artikel</a> verschenen over het
Vlaams woordenboek.</p>

<h2>26 oktober 2007: Het Vlaams woordenboek gaat van start!</h2>

<p>Na een paar weekjes programmeren en designen, is het Vlaams woordenboek klaar om gelanceerd te worden voor het publiek. Er staan al
een pak woorden in vermeld van bij de start. De basiselementen van de website werken, maar het zal nog weken duren vooraleer er een
volwassen, vlot werkende service zal zijn.</p>