<p>De Algemene Voorwaarden geven aan hoe deze website werkt, er wordt uitgelegd hoe we aan onze inhoud komen en hoe we omgaan met
privacy, en geeft duidelijke verplichtingen die u, als gebruiker van deze site, moet aanvaarden zodat we u verder toegang tot deze
website kunnen verschaffen. Door de website te bezoeken geef je aan dat je deze Algemene Voorwaarden accepteert.</p>

<h3>Beschrijving van de aangeboden service</h3>

<p>Het Vlaams woordenboek (de "Service"), met zijn website http://www.vlaamswoordenboek.be (de "Website"), laat zijn gebruikers toe
om definities van Vlaamse termen en uitspraken toe te voegen voor publicatie. De Website biedt een aantal gereedschappen aan die
geassocieerd zijn met de Website en zijn inhoud.</p>

<h3>Aanvaarding van de Algemene Voorwaarden</h3>

<p>Gebruikers van deze Website accepteren dat ze gebonden worden door de voorwaarden zoals vermeld in deze Algemene Voorwaarden.
Indien het Vlaams Woordenboek er gebruikers van verdenkt om, vrijwillig of onvrijwillig, misleidende, onjuist, onvolledige,
beschuldigende, discriminerende informatie toe te voegen, dan reserveert het Vlaams woordenboek zich het recht om gebruikers uit te
sluiten om nog verder gebruik te maken van de Website.</p>

<h3>Privacy richtlijnen</h3>

<p>Het Vlaams woordenboek houdt sessie-gerelateerde data van bezoeken bij. We gebruiken deze informatie om trends te onderzoeken om
de Website te verbeteren. De informatie wordt niet gebruikt om individuele gebruikers te identificeren.</p>

<p>Het Vlaams woordenboek verzamelt e-mail adressen voor verscheidene doeleinden. Het Vlaams woordenboek stuurt geen
ongesolliciteerde e-mail naar deze adressen, en zal de e-mail adressen niet doorgeven of doorverkopen aan een derde partij, tenzij
deze derde partij wordt ingehuurd om mail verkeer eigen aan het Vlaams woordenboek te verzorgen.</p>

<h3>Toevoegingen</h3>

<p>Het Vlaams woordenboek is de enige eigenaar van de definities en andere data die verzameld wordt op de Website tenzij dit
materiaal eigendom is en een copyright heeft die door een ander (rechts-)persoon wordt beheerd. Richtlijnen en voorwaarden voor het
toevoegen van informatie aan het Vlaams woordenboek wordt hieronder verder toegelicht.</p>

<ol>

<li>Het begrijpen en zich onderwerpen aan de richtlijnen voor toevoegingen is de verantwoordelijkheid van de gebruiker. Het Vlaams
woordenboek is niet verantwoordelijk voor het monitoren en filteren van toevoegingen.</li>

<li>Voor het geval er toevoegingen worden gevonden in het Vlaams woordenboek die onaccepteerbaar offensief zijn of inbreuk plegen op
de wet op copyright, of onaccepteerbaar materieel bevatten, dan kan het Vlaams woordenboek deze toevoegingen verwijderen zonder
voorafgaande verwittiging. Het Vlaams woordenboek is echter niet verplicht om deze toevoegingen te monitoren, te limiteren, en
toegang voor gebruikers die onterecht materiaal toevoegen op te heffen.</li>

<li>Voor zover dit wordt toegelaten door de wet, bezit het Vlaams woordenboek alle data die door gebruikers werden toegevoegd. Deze
toevoegingen mogen inbegrepen en vermenigvuldigd worden in andere media, zoals electronisch, drukwerk of in publieke voorstellingen,
inclusief derden die een schriftelijke overeenkomst sluiten het Vlaams woordenboek. In deze gevallen kunnen de gebruikers die de
toevoegingen hebben gemaakt worden vermeld (of niet).</li>

<li>Door gebruik te maken van het Vlaams woordenboek neemt u aan dat de Website geen inhoud modereert. U neemt u ook alle risico's
die geassocieerd kunnen worden met het Vlaams woordenboek, zijn inhoud en het gebruik van deze inhoud aan.</li>

</ol>

<h3>Etiquette</h3>

<p>Gebruikers moeten begrijpen dat alle inhoud op de Website gecreëerd en onderhouden wordt door de gebruikers, en dat de
verantwoordelijkheid voor de inhoud van de Website bij deze gebruikers ligt. Omdat het Vlaams woordenboek geen absolute controle
uitoefent op de inhoud die wordt toegevoegd aan de Website, kan het de correctheid van deze inhoud niet garanderen. U, de gebruiker,
begrijpt dat u, door het gebruik van de Website, kan geëxposeerd worden aan inhoud die offensief van aard kan zijn. Als inhoud van de
Website wordt aangemerkt die in tegenstrijd is met de Etiquette, zoals hieronder aangegeven, dan zal de nodige actie worden
ondernomen, of niet, onder beslissingsrecht van het Vlaams woordenboek.</p>

<p>U, de gebruiker die inhoud toevoegt aan het Vlaams woordenboek, accepteert de condities voor gebruikersetiquette, en meer
specifiek, gaat akkoord dat u de Website niet zal gebruiken om:</p>

<ol>

<li>vereisten, procedures, voorwaarden of regelgevingen verbonden met de Service niet te gehoorzamen,</li>

<li>toe te laten en aan te moedigen van anderen zodat de Algemene Voorwaarden niet worden nageleefd,</li>

<li>inhoud toe te voegen die onwettig is of invasief voor gelijk welke individuele privacy door hun naam, adres, e-mail,
telefoonnummer, website of andere contact informatie te vermelden,</li>

<li>zich illegaal als iemand anders (persoon of rechtspersoon) voor te doen,</li>

<li>fraude te plegen door hoofdingen te manipuleren om de oorsprong van inhoud voor de Website te verbergen,</li>

<li>inhoud toe te voegen waarvoor u niet het recht heeft om toe te voegen,</li>

<li>inhoud toe te voegen die trademark, copyright of andere propriëtaire rechten van een persoon of rechtspersoon breekt,</li>

<li>ongeauthoriseerde reclame, promotioneel materiaal, of andere soort van sollicitatie toe te voegen, of, junk mail, spam,
kettingbrieven of piramide schema's toe te voegen,</li>

<li>materiaal toe te voegen die software virussen of andere computer code, bestanden en programma's bevat, teneinde gelijk welke
software, hardware of telecommunicatie materiaal te onderbreken, beschadigen, vernietigen of limiteren,</li>

<li>te interfereren met de Service of servers of netwerken die verbonden zijn met de Service, </li>

<li>andere gebruikers te stalken of te flamen,</li>

<li>informatie te voorzien die verband houdt met illegale activiteiten, die psychische of fysieke schade kunnen aanrichten aan
personen, groepen of dieren,</li>

<li>commerciële activiteiten op te zetten die verband houden met het Vlaams woordenboek, zonder hiervoor eerst geschreven toestemming
te hebben ontvangen van het Vlaams woordenboek.</li>

</ol>

<p>Het Vlaams woordenboek behoudt het recht om toevoegingen te blokkeren op basis van vastgestelde maar niet gepubliceerde inbreuken
die niet rijmen met de letter of geest van de Algemene Voorwaarden. Als u een inbreuk vaststelt, gelieve de beheerders hiervan op de
hoogte te stellen.</p>

<p>Het Vlaams woordenboek respecteert de intellectuele eigendommen van anderen. Indien u gelooft dat uw werk werd gecopieerd op een
wijze die valt onder inbreuk op de copyrightwetgeving, of indien u zulk materiaal hebt gevonden op de Website, contacteer dan de
beheerders van de Website.</p>

<h3>Beëndiging of wijziging van de service</h3>

<p>U, de gebruiker, gaat akkoord dat de beheerders van het Vlaams woordenboek toevoegingen mogen blokkeren op basis van email adres,
en gegevens mag verwijderen voor gelijk welke reden als het Vlaams woordenboek gelooft dat deze gegevens bewuste of onbewuste
inbreuken zijn in de letter of geest van de Algemene Voorwaarden.</p>

<h3>Doorverkoop van de service</h3>

<p>U, de gebruiker, gaat akkoord om (stukken van) de inhoud niet te reproduceren, dupliceren, copiëren, verkopen, doorverkopen of
commercialiseren zonder voorafgaande schriftelijke goedkeuring van het Vlaams woordenboek. Auteurs, reviewers, wetenschappers,
juristen en studenten mogen naar de inhoud, operatie, functionaliteit en objectieven van het Vlaams woordenboek refereren op een
manier die zij verkiezen.</p>

<h3>Advertenties</h3>

<p>Het Vlaams woordenboek behoudt het recht om advertenties en promoties te draaien op de Website. De manier waarop dit gebeurt op
het Vlaams woordenboek kan in de toekomst veranderen.</p>

<h3>Links</h3>

<p>Occasionneel bevat het Vlaams woordenboek links naar andere websites of bronnen. Omdat het Vlaams woordenboek geen controle heeft
over deze externe informatie kan het Vlaams woordenboek ook niet verantwoordelijk worden gesteld voor gelijk welke inhoud van gelijk
welke andere website.</p>

<h3>Eigendomsrechten</h3>

<p>Door gebruik te maken van de Website accepteert u, de gebruiker, dat het Vlaams woordenboek confidentiële en eigendomsinformatie
bevat die beschermd wordt door de wetgeving rond intellectuele eigendommen en eigendomsrechten, in het bezit van de auteur van de
software en de Service. Het design, look en feel van het Vlaams woordenboek en inhoud van de site is eigendom van het Vlaams
woordenboek.</p>

<h3>Schadeloosstelling</h3>

<p>U, de gebruiker, stelt het Vlaams woordenboek en zijn eigenaars, medewerkers, representatieven, werknemers en vrijwilligers
schadeloos voor gelijk welke schadeclaim of -eis, inclusief gerechtskosten die door gelijk welke partij voortkomen door de gebruiker
zijn toegang tot de Site, inbreuk op de Algemene Voorwaarden, of inbreuk op gelijk welke rechten van andere (gerechts)personen. De
gebruiker is persoonlijk verantwoordelijk voor alle activiteiten ondernomen tijdens het gebruik van de Website, of acties die
vooruitvloeien uit het gebruik van de Website.</p>

<p>Alle inhoud die door het gebruik van de Service wordt verkregen wordt door de gebruiker discreet en op zijn eigen risico gebruikt.
De gebruiker is persoonlijk verantwoordelijk voor het gebruik van de inhoud van de Website en zijn verspreiding. Tenzij anders
vermeld, vertegenwoordigt de inhoud van het Vlaams woordenboek niet de opinie van het Vlaams woordenboek, zijn medewerkers,
adverteerders of andere (rechts)personen verbonden met het Vlaams woordenboek.</p>

<h3>Aansprakelijkheid</h3>

<p>U, de gebruiker, begrijpt en aanvaardt dat het Vlaams woordenboek niet aansprakelijk kan gesteld worden voor gelijk welke directe,
indirecte, incidentele of consequentiële schade of verlies van winsten als gevolg van het gebruik van de Service, of gebreken
daaraan; voor uitspraken of gedrag van gebruikers wier toevoegingen aan de Website zijn toegevoegd; of van gelijk welke bronnen die
gerelateerd kunnen worden aan de Service. Discussies over aansprakelijkheid zullen enkel gehouden worden tussen de betrokken
partijen, i.e., de persoon die aangeeft schade geleden te hebben en de persoon die de situatie heeft gecreëerd waardoor schade is
toegebracht. Het Vlaams woordenboek stelt zich in deze zaken onpartijdig op en zal geen enkele gebruikersinformatie verlenen zonder
officieel gerechterlijk verzoekschrift, afgeleverd door een rechtbank met legale jurisdictie.</p>

<h3>Overeenkomst</h3>

<p>De Algemene voorwaarden bevatten de volledige overeenkomst tussen u, de gebruiker, en het Vlaams woordenboek en bepaalt uw gebruik
van de Service. De Belgische wetgeving bepaalt de Algemene Voorwaarden en de relatie tussen de gebruiker en het Vlaams woordenboek.
Door deze Website te gebruiken aanvaardt u, de gebruiker, om exclusieve jurisdictie op te geven bij de rechtbank in Antwerpen,
België, indien een juridisch dispuut zich zou voordoen.</p>

<p>Om vastgestelde inbreuken van de Algemene Voorwaarden te rapporteren, contacteert u het Vlaams woordenboek direct via de
contactgegevens zoals vermeld op de Website.</p>